@import url(../../assets/fonts/css/satoshi.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.header-info{
    display: flex;
    flex-direction: column;
    color: #a7a7a7;
    gap: 5px;
    font-family: 'Satoshi-Bold';
   cursor: default;
}

.header-info h1 {
  font-size: 3rem;
}

h1{
    color: rgb(255, 255, 255);
    font-weight: 800;
}

.perfilFoto{
    width: 200px;
    border-radius: 100%;
    border: 5px solid #11171f;
    box-shadow: 4px 4px 5px #000000;
}

.bttnCv {
    --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: hsla(194 100% 69% / 1);
    --btn-bg-2: hsla(217 100% 56% / 1);
    --btn-bg-color: hsla(360 100% 100% / 1);
    --radii: 0.5em;
    margin-top: 10px;
    cursor: pointer;
    padding: 0.5em 1.0em;
    width: max-content;
    font-size: var(--size, 1rem);
    font-family: Satoshi-Bold;
    font-weight: 500;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
    border: none;
    border-radius: var(--radii);
    color: var(--btn-bg-color);
    box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px rgba(175, 230, 255, 0.5), inset -4px -4px 8px rgba(19, 95, 216, 0.35);
  }
  
  .bttnCv:hover {
    background-position: right top;
  }
  
  .bttnCv:is(:focus, :focus-visible, :active) {
    outline: none;
    box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
  }
  
  @media (prefers-reduced-motion: reduce) {
    .bttnCv {
      transition: linear;
    }
  }